{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">	
					{% csrf_token %}				
					<div id="shipping-info">
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="email" placeholder="Email adress..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<div id="details" class="hidden">
					<h4>Details</h4>
					<p><strong>Name: </strong>Company Sp. z.o.o</p>
					<p><strong>Account number: </strong>26 4665 8984 0000 9894 6849 1384</p>
					<p><strong>Title: </strong>Name, Surname, Transaction ID</p>
					<p style="color: red;">Transaction ID will be shown after accepting and send via email. Package will be send after recieving money.</p>
				</div>
				<button id="transfer" class="btn btn-success btn-block" style="height: 45px; margin-bottom: 15px;">Transfer to Account</button>
				<button id="make-payment" class="btn btn-success btn-block hidden" style="height: 45px; margin-bottom: 15px;">I will make a transfer</button>
				<div id="paypal-button-container"></div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
					<div class="cart-row">
						<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
						<div style="flex:2"><p>{{item.product.name}}</p></div>
						<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
						<div style="flex:1"><p>x{{item.quantity}}</p></div>
					</div>
				{% endfor %}
				
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</>

	<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=PLN"></script>

	<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

			style: {
				color: 'blue',
				shape: 'rect',
			},

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>

	<script type="text/javascript">
		var total = '{{order.get_cart_total}}'
		var form = document.getElementById('form')

		csrftoken = form.getElementsByTagName("input")[0].value
		console.log('Newtoken:', form.getElementsByTagName("input")[0].value)

		form.addEventListener('submit', function(e){
			e.preventDefault()
			console.log('Form submitted...')
			document.getElementById('form-button').classList.add('hidden')
			document.getElementById('payment-info').classList.remove('hidden')
		})


		document.getElementById('transfer').addEventListener('click', function(e) {
			document.getElementById('transfer').classList.add('hidden')
			document.getElementById('paypal-button-container').classList.add('hidden')
			document.getElementById('details').classList.remove('hidden')
			document.getElementById('make-payment').classList.remove('hidden')
		})

		document.getElementById('make-payment').addEventListener('click', function(e) {
			submitFormData()
		})

		function submitFormData() {
			console.log('Payment button clicked')

			var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address': form.address.value,
				'city': form.city.value,
				'state': form.state.value,
				'zipcode': form.zipcode.value,
			}

			var url = '/process_order/'
			fetch(url, {
				method:'POST',
				headers:{
					'Content-Type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'form':userFormData, 'shipping': shippingInfo})
			})
			.then((response) => response.json())
			.then((data) => {
				console.log('Success', data);
				alert('Transaction completed. Transaction ID: 017703');
				window.location.href = "{% url 'store' %}"
			})
		}
	</script>
{% endblock content %}